
.do,.re{
    
  
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 
  border-radius: 25px;
  margin-left: 25px;
    
}
.do{
    background-color: rgb(35, 179, 35);
    color: white;
   
}

.re{
    text-decoration: line-through;
   
    background-color: rgb(255, 0, 0);
    color: white;
}